In [1]:
import pandas as pd
import gzip
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_colwidth', -1)

In [2]:
def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield eval(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

In [3]:
# possible values: "Electronics", "Cell_Phones_and_Accessories", "Clothing_Shoes_and_Jewelry"
product_type = "Electronics"
meta_fname = "meta_" + product_type + ".json.gz"
df = getDF(meta_fname)
df.shape

(1503384, 9)

In [11]:
df.columns

Index(['asin', 'related', 'title', 'price', 'salesRank', 'imUrl', 'brand',
       'categories', 'description'],
      dtype='object')

In [ ]:
key_cols = ['asin', 'title', 'price', 'brand','categories', 'description']

In [4]:
df[['asin','categories']].sample(10)  
# categories are nested lists, each list is one category and its sub-categories under all electronics

,asin,categories
908008,B00942UUTG,"[[Clothing, Shoes & Jewelry, M, Mudd], [Clothing, Shoes & Jewelry, Girls, Clothing, Swim, Two-Pieces, Tankinis]]"
235118,B002L6HIC4,"[[Clothing, Shoes & Jewelry, New Arrivals, New Jewelry], [Clothing, Shoes & Jewelry, Jewelry: International Shipping Available], [Clothing, Shoes & Jewelry, Amazon Curated Collection], [Clothing, Shoes & Jewelry, Women, Jewelry, Fine, Earrings, Drop & Dangle], [Clothing, Shoes & Jewelry, Women, Jewelry, Fashion, Earrings, Drop & Dangle], [Clothing, Shoes & Jewelry, Novelty, Costumes & More, Novelty]]"
495546,B0050D1TWK,"[[Clothing, Shoes & Jewelry, Women, Jewelry, Fashion, Charms & Charm Bracelets, Charms], [Clothing, Shoes & Jewelry, Novelty, Costumes & More, Novelty]]"
1458620,B00I50R2HG,"[[Clothing, Shoes & Jewelry, Men, Clothing, Shirts, Casual Button-Down Shirts]]"
1056748,B00B0AZJAA,"[[Clothing, Shoes & Jewelry, Women, Clothing, Tops & Tees, Henleys]]"
775710,B007YYZUX2,"[[Clothing, Shoes & Jewelry, Shoes & Accessories: International Shipping Available], [Clothing, Shoes & Jewelry, Arche], [Clothing, Shoes & Jewelry, Comfort Shoes], [Clothing, Shoes & Jewelry, Boot Shop, Women, Fashion], [Clothing, Shoes & Jewelry, Women, Shoes, Boots]]"
1199987,B00CPE3BPU,"[[Clothing, Shoes & Jewelry, Women, Jewelry, Fashion], [Clothing, Shoes & Jewelry, Novelty, Costumes & More, Novelty, Jewelry, Wedding & Engagement Rings, Engagement Rings]]"
1445759,B00HQXIVCS,"[[Clothing, Shoes & Jewelry, Baby, Baby Girls, Clothing, Swim, One Pieces]]"
823789,B008CGAMPW,"[[Clothing, Shoes & Jewelry, N, Nike], [Clothing, Shoes & Jewelry, Men, Shoes, Fashion Sneakers]]"
746106,B007PBEQY8,"[[Clothing, Shoes & Jewelry, Women, Clothing, Jeans]]"

In [5]:
from collections import defaultdict
cat = defaultdict(int)

for row in df['categories']:
    for e in row:
        hc = ''
        for i,c in enumerate(e):
            if i > 0:
                hc = hc + '->' + c
            else:
                hc = c
            cat[hc] += 1

print(len(cat.keys()))

4909

In [7]:
cat_df = pd.DataFrame.from_dict(cat, orient = 'index')
cat_df.reset_index(level = 0, inplace = True)
cat_df.columns = ['category','count']
cat_df['levels'] = cat_df['category'].apply(lambda x: len(x.split('->')))
cat_df.sample(5)

,category,count,levels
2471,"Clothing, Shoes & Jewelry->Women->Petite->Dresses->Wedding->Wedding Dresses",83,6
3212,"Clothing, Shoes & Jewelry->Novelty, Costumes & More->Novelty->Clothing->Women->Sleep & Lounge->Sets",298,7
1267,"Clothing, Shoes & Jewelry->Baby->Baby Boys->Clothing->Sleepwear & Robes",1581,5
1728,"Clothing, Shoes & Jewelry->Women->Accessories->Wallets, Card Cases & Money Organizers->Card & ID Cases->ID Cases",32,6
443,"Clothing, Shoes & Jewelry->Novelty, Costumes & More->Work Wear & Uniforms->Clothing->Work Utility & Safety->Men->Overalls & Coveralls",533,7

In [8]:
import numpy as np
np.max(cat_df['levels'])

8

In [9]:
cat_df_sorted = cat_df.sort_values(by = ['levels','count'],ascending=[True, False])
cat_df_sorted.to_csv(product_type +"_category_counts.csv")

In [ ]:
# extract the meta data for selected categories